# documentation of env vars:
# https://docs.n8n.io/hosting/configuration/environment-variables/deployment/
# https://docs.n8n.io/hosting/installation/server-setups/docker-compose/

POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=n8n

DOMAIN_NAME=localhost
WEBHOOK_URL=http://localhost:5678/
N8N_HOST=localhost

# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
#DOMAIN_NAME=example.com
#SUBDOMAIN=foo
#N8N_HOST=${SUBDOMAIN}.${DOMAIN_NAME}
#WEBHOOK_URL=https://${SUBDOMAIN}.${DOMAIN_NAME}/
# The above values serve n8n at: https://foo.example.com

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Europe/Berlin

# The email address to use for the TLS/SSL certificate creation
#SSL_EMAIL=user@example.com

N8N_ENCRYPTION_KEY=super-secret-key
N8N_USER_MANAGEMENT_JWT_SECRET=even-more-secret
N8N_DEFAULT_BINARY_DATA_MODE=filesystem

N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE=true
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_USER=${POSTGRES_USER}
DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}

N8N_DIAGNOSTICS_ENABLED=false
N8N_PERSONALIZATION_ENABLED=true

OLLAMA_HOST=host.docker.internal:11434
#OLLAMA_HOST=ollama:11434
N8N_PORT=5678
N8N_PROTOCOL=http
NODE_ENV=production
N8N_LISTEN_ADDRESS=0.0.0.0